{% extends "basic_template.html" %}

{% block content %}
<br><br>
<div align="center" class="centred_div table_div">
    <br>
    <a class="btn btn-secondary" href="/" role="button">На главную</a>
    <br><hr><br>
    <h1 align="center">Список врагов:</h1><br>
    <table class="table table-dark" border="2">
        <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Локация</th>
                <th scope="col">Минимальный уровень</th>
            </tr>
        </thead>
        <tbody>
            {% for enemy in enemies %}
                <tr>
                    <th scope="row">{{ enemy[0] }}</th>
                    <th scope="row">{{ enemy[1] }}</th>
                    <td align="center">{{ enemy[2] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}