{% extends "basic_template.html" %}

{% block content %}
<br><br>
<div align="center" class="centred_div">
    <br>
    <a class="btn btn-secondary" href="/" role="button">На главную</a>
    <br><hr><br>
    <h1 align="center">Добавление предмета</h1>
    {% if message %}
        <div class='alert alert-danger' role="alert">{{ message }}!</div>
    {% endif %}
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>
            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.item_type.label }}<br>
            {% for radio_button in form.item_type %}
                <p align="left">
                    {{ radio_button }} {{ radio_button.label }}
                </p>
            {% endfor %}
            {% for error in form.item_type.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.protection.label }}<br>
            {{ form.protection(class="form-control") }}<br>
            {% for error in form.protection.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.attack.label }}<br>
            {{ form.attack(class="form-control") }}<br>
            {% for error in form.attack.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.class_required.label }}<br>
            {% for radio_button in form.class_required %}
                <p align="left">
                    {{ radio_button }} {{ radio_button.label }}
                </p>
            {% endfor %}
            {% for error in form.class_required.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.cost.label }}<br>
            {{ form.cost(class="form-control") }}<br>
            {% for error in form.cost.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-success") }}</p>
    </form>
    <br>
</div>
{% endblock %}