@font-face {
	font-family: 'CustomFont';
	src: url(../fonts/pixel.ttf);
}


body {
    background-image: url(../img/background.jpg);
    font-family: 'CustomFont';
    color: #eeeeee;
}


div {
    background-color: #111110;
    width: 60%;
    border-radius: 7px;
    border: 1px solid #ffffff;
}


hr {
    border: none;
    color: #99b7a0;
    background-color: #99b7a0;
    height: 1px;
}


h1 {
    font-size: 40px;
}


form {
    width: 450px;
}


.centred_div {
    margin-left: auto;
    margin-right: auto;
}

.heading_text {
    color: #519e7f;
}


.header_div {
    width: 33%;
    min-height: 120px;
    padding: 15px;
    float: left;
}


.user_div {
    display: block;
    margin-left: auto;
    width: 25%;
    min-height: 120px;
    padding: 15px;
}